{% extends 'home.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="card">
    <div class="card-body">
        <table class="table">
            <thead>
            <th>sl No.</th>
            <th>name</th>
            <th>contact_no</th>
            <th>profile</th>
            </thead>
            {% for i in data %}
            <tbody>
            <td>{{forloop.counter}}</td>
            <td>{{i.name}}</td>
            <td>{{i.contact_no}}</td>
            <td> <img width="30" src="{{i.profile.url}}"> </td>
            </tbody>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}